/*
| -------------------------------------------------------------------
| Config font family
| -------------------------------------------------------------------
|
*/
/* Google fonts  Plus Jakarta Sans*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

/* Google Fonts Red Hat Display */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

/* Google Fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

section.banner,
section.category,
section.notfound__page {
    font-family: 'Red Hat Display', sans-serif;
}

section.license,
section.illustration,
section.big__hero a,
section.category .title,
section.hero__about,
footer {
    font-family: 'Plus Jakarta Sans';
}


/*
| -------------------------------------------------------------------
| Config brand color
| -------------------------------------------------------------------
|  note: only use brand color for theme website
|
*/
:root {
    --primary-light: #6638EB;
    --primary-dark: #4F26C6;
    --secondary: #38C0EB;
    --green-light1-1: #D2E8DD;
    --gren-light-2: ##E7F3ED;
    --gren-dark: #198754;
    --orange: ##FFF4D7;
    --pink: #FFF4D7;
    --white: #FFFFFF;
    --black-1: #07122A;
    --black-2: #162034;
    --gray-1: #9E9E9E;
    --gray-2: #E3E2E2;
    --gray-3: #F7F9FC;
}

/*
| -------------------------------------------------------------------
| style component
| -------------------------------------------------------------------
|  note: all style component in this section
|
*/

.navbar a.btn {
    padding: 15px 30px;
    font-size: 14px;
    line-height: 19px;
    border-radius: 6px;
}

.btn {
    font-family: 'Plus Jakarta Sans' !important;
}

.banner a.btn {
    padding: 15px 30px;
    font-size: 14px;
    line-height: 19px;
    border-radius: 6px;
}

.btn.btn-primary {
    background-color: var(--primary-light);
    border: none;
}

.btn.btn-light {
    background-color: var(--white);
    border: none;
    color: var(--primary-light);
}

.btn.btn-outline-primary {
    border: 2px solid var(--primary-light);
    color: var(--primary-light);
}


.btn.btn-primary:hover {
    background-color: var(--primary-dark);
}

.btn.btn-outline-primary:hover {
    background-color: var(--primary-dark);
    border: 2px solid var(--primary-dark);
}

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
    background-color: var(--primary-dark);
    box-shadow: 0 0 0 0.2rem rgba(53, 10, 155, 0.25) !important;
}

.btn.btn-outline-primary:focus,
.btn.btn-outline-primary:active,
.btn.btn-outline-primary.active {
    background-color: var(--primary-dark);
    box-shadow: 0 0 0 0.2rem rgba(53, 10, 155, 0.25) !important;
}


.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border: 100%;
}

.title {
    color: var(--black-1) !important;
}

a.text-primary {
    color: var(--primary-light) !important;
}


/*
| -------------------------------------------------------------------
| Nabar section
| -------------------------------------------------------------------
|  note: navbar have tree menu item & one button for CTA
|
*/

.navbar-brand img {
    width: 216px;
}

.nav-link {
    font-family: 'Plus Jakarta Sans';
}

.nav-link {
    margin-right: 40px;
}

a.nav-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: var(--black-1);
}

/*
| -------------------------------------------------------------------
| banner section
| -------------------------------------------------------------------
|  note: banner for information website
|
*/

section.banner {
    padding: 30px 0;
}

section.banner .card {
    border-radius: 22px;
}


.card-content {
    color: var(--white);
    padding: 29px 55px;
    overflow: hidden;
    width: 100%;
}

.card-content h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 64px;
    max-width: 600px;
}

.card-content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    max-width: 433px;
}



/*
| -------------------------------------------------------------------
| Big Hero section
| -------------------------------------------------------------------
|  note: New Update
|
*/
.emoji {
    width: 100px;
}

section.big__hero {
    background-image: url('../img/background-hero.svg');
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    background-size: 100vw;
}

section.big__hero h1 {
    margin: 9rem 0 0 0;
    font-size: 64px;
    color: var(--black-1);
    max-width: 859px;
    font-weight: 700;
    font-family: 'Poppins';
    margin-left: auto;
    margin-right: auto;
    line-height: 96px;
}

section.big__hero p {
    font-size: 24px;
    font-weight: 400;
    line-height: 175%;
    color: var(--black-1);
    opacity: 50%;
    font-family: 'Plus Jakarta Sans';
    max-width: 616px;
    margin: auto;
}

section.big__hero a {
    color: var(--primary-light);
    font-size: 20px;
}


/*
| -------------------------------------------------------------------
| category section
| -------------------------------------------------------------------
|  note: category section have deferent layout in mobile & desktop
|
*/

.category__mobile,
.category__desktop a {
    color: var(--black-1);
}

.category__mobile,
.category__desktop a:hover {
    color: var(--primary-light);
}

section.category .card {
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
    align-items: center;
}

section.category .card:hover {
    background-color: var(--black-1) !important;
    color: white;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);
    transform: scale(1.1);
}

.category__desktop {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.category__desktop img {
    width: 123px;
}



/*
| -------------------------------------------------------------------
| illustration section
| -------------------------------------------------------------------
|  note: illustration section
*/


section.illustration small {
    font-size: 15px;
    color: var(--black-1);
    font-weight: 400;
    line-height: 20px;
}

section.illustration .card {
    border: none;
    background-color: var(--gray-3) !important;
}

section.illustration .card:hover {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
    border: none;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);
    transform: scale(1.0.9);
    background-color: var(--primary-light) !important;
}

.card {
    background-color: white !important;
}


section.illustration .card {
    position: relative;
    overflow: hidden;
    /* margin: 10px; */
    /* min-width: 220px; */
    max-width: 310px;
    width: 100%;
    /* background: #000000; */
    text-align: center;
}

section.illustration .card span {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: #000000;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

section.illustration .card a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}


section.illustration .card.primary:hover {
    background-color: #6638EB;
}

/* section.illustration .card.primary:hover span {
    color: #6638EB !important;
} */

section.illustration .card.primary:hover h6 {
    color: #6638EB !important;
}


section.illustration .card:hover img {
    opacity: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    color: var(--primary-light);
}

section.illustration .card:hover h6.name {
    opacity: 0;
}

section.illustration .card:hover small.label {
    opacity: 0;
}

section.illustration .card:hover span {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: var(--primary-light);
}

/*
| -------------------------------------------------------------------
| about section pages
| -------------------------------------------------------------------
|  note: short story about creative stock
*/

section.hero__about {
    padding: 84px 0;
}

section.hero__about .text__hero {
    padding: 103px 0;
    font-family: 'Red Hat Display';
}

section.hero__about .label {
    font-size: 20px;
    color: var(--primary-light);
    font-weight: 400;
    line-height: 26px;
    margin: 18px 0;
}


section.hero__about .text__big {
    font-size: 48px;
    color: var(--black-1);
    font-weight: 600;
    line-height: 64px;
}

section.hero__about .text__big span {
    font-weight: 900;
}

section.hero__about .story {
    padding: 245px 0;

}

section.hero__about .story .text__story {
    margin-left: 24px;
    padding: 5rem 0;
}

section.hero__about .story .title {
    font-size: 32px;
    color: var(--black-1);
    font-weight: 500;
    line-height: 175%;
}

section.hero__about .story p {
    font-size: 16px;
    color: var(--black-1);
    font-weight: 400;
    line-height: 33.73px;
}

section.hero__about .creator {
    font-size: 16px;
    color: var(--black-2);
}

section.hero__about .creator .label__creator {
    font-weight: bold;
    margin: 55px 0;
}


section.hero__about .creator p {
    font-weight: 300;
    line-height: 33.73px;
}

/*
| -------------------------------------------------------------------
| 404 section page
| -------------------------------------------------------------------
|  note: if pages not be found
*/

section.notfound__page {
    padding: 80px 0;
    color: var(--black-1);
}

section.notfound__page img {
    width: 200px;
}


section.notfound__page h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

section.notfound__page p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #8C8C8C;
}

/*
| -------------------------------------------------------------------
| 404 section page
| -------------------------------------------------------------------
|  note: if pages not be found
*/

section.license h5 {
    color: var(--primary-light) !important;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

section.license h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 159%;
    color: var(--black-1);
}

section.license p {
    font-size: 16px;
    font-weight: 300;
    color: var(--black-2);
}


section.license span {
    font-size: 16px;
    color: var(--gray-1);
    font-weight: 400;
    line-height: 159%;
}

/*
| -------------------------------------------------------------------
| 404 section page
| -------------------------------------------------------------------
|  note: if pages not be found
*/

section.soon__page {
    padding: 80px 0;
    color: var(--black-1);
}

section.soon__page img {
    width: 400px;
}


section.soon__page h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

section.soon__page p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #8C8C8C;
}

/*
| -------------------------------------------------------------------
| footer section
| -------------------------------------------------------------------
|  note: footer section for sortcut information
*/

footer {
    padding: 200px 0 24px 0;
}

.content {
    padding: 24px 0;
    font-size: 14px;

}

.content .year {
    color: var(--black-2);
}

footer a {
    color: var(--black-2);
}

footer a:hover {
    color: var(--primary-dark);
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {

    /*
    | -------------------------------------------------------------------
    | category section
    | -------------------------------------------------------------------
    |  note: category section have deferent layout in mobile & desktop
    |
    */
    .category__desktop {
        grid-template-columns: repeat(5, 1fr);
    }

    .category__mobile {
        display: none;
    }
}


/*
| -------------------------------------------------------------------
| Config Responsive Layout
| -------------------------------------------------------------------
|  note: setup for layout & size every component
|
*/

/* MOBILE VERSION ONLY */

@media (max-width: 576px) {

    .navbar-brand img {
        width: 170px;
    }

    /*
    | -------------------------------------------------------------------
    | Big Hero section
    | -------------------------------------------------------------------
    |  note: New Update
    |
    */
    .emoji {
        width: 50px;
    }

    section.big__hero h1 {
        margin: 9rem 0 0 0;
        font-size: 44px;
        color: var(--black-1);
        max-width: 859px;
        font-weight: 700;
        line-height: 66px;
    }

    section.big__hero p {
        font-size: 18px;
        font-weight: 400;
        line-height: 155%;
        color: var(--black-1);
        opacity: 50%;
        font-family: 'Plus Jakarta Sans';
    }

    section.big__hero a {
        color: var(--primary);
        font-size: 15px;
    }

    /*
    | -------------------------------------------------------------------
    | category section
    | -------------------------------------------------------------------
    |  note: category section have deferent layout in mobile & desktop
    |
    */
    .category__mobile {
        overflow: auto;
        white-space: nowrap;
        margin: 2rem 0;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .category__mobile a {
        color: black;
    }

    .category__mobile .card-item {
        display: inline-block;
        padding: 0 0.5rem;
        text-align: center;
    }

    .category__mobile .card-item .card {
        padding: 1rem 2rem;
    }

    .category__mobile .card-item .card img {
        width: 100px;
    }

    .category__desktop {
        display: none;
    }


    /*
    | -------------------------------------------------------------------
    | Nabar section
    | -------------------------------------------------------------------
    |  note: navbar have tree menu item & one button for CTA
    |
    */

    .navbar {
        margin: 0.5rem 0;
    }

    .nav-link {
        margin-bottom: 20px;
    }

    a.nav-link {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: var(--black-1);
    }


    a.btn {
        display: block;
    }

    /*
    | -------------------------------------------------------------------
    | banner section
    | -------------------------------------------------------------------
    |  note: banner for information website
    |
    */

    .bg-img {
        background: linear-gradient(98.46deg, #6638EB 0.39%, #9C38EB 69.44%);
    }

    .card-content {
        color: white;
        max-width: 810px;
        padding: 10px;
        overflow: hidden;
    }

    .text {
        padding: 0.5rem;
    }

    .card-content h1 {
        font-size: 38px;
    }

    .card-content p {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        max-width: 100%;
    }

    /*
    | -------------------------------------------------------------------
    | 404 section page
    | -------------------------------------------------------------------
    |  note: if pages not be found
    */

    section.notfound__page {
        padding: 80px 0;
        color: var(--black-1);
    }

    section.notfound__page img {
        width: 200px;
    }


    section.notfound__page h2 {
        font-size: 30px;
    }

    section.notfound__page p {
        font-size: 14px;
        line-height: 13px;
    }

    /*
    | -------------------------------------------------------------------
    | soon section page
    | -------------------------------------------------------------------
    |  note: if pages soon page
    */

    section.soon__page {
        padding: 80px 0;
        color: var(--black-1);
    }

    section.soon__page img {
        width: 200px;
    }


    section.soon__page h2 {
        font-size: 30px;
    }

    section.soon__page p {
        font-size: 14px;
        line-height: 13px;
    }


    /*
    | -------------------------------------------------------------------
    | about section pages
    | -------------------------------------------------------------------
    |  note: short story about creative stock
    */

    section.hero__about {
        padding: 0;
    }

    section.hero__about .text__hero {
        padding: 50px 0;
    }

    section.hero__about .text__big {
        font-size: 48px;
        color: var(--black-1);
        font-weight: 600;
        line-height: 64px;
    }

    section.hero__about .text__big span {
        font-weight: 900;
    }

    section.hero__about .story {
        padding: 100px 0;

    }

    section.hero__about .story .text__story {
        margin-left: 0;
        padding: 1rem 0;
    }


    section.hero__about .creator {

        text-align: center;
    }

    section.hero__about .creator .label__creator {
        margin: 5px 0;
    }






    /*
    | -------------------------------------------------------------------
    | footer section
    | -------------------------------------------------------------------
    |  note: footer section for sortcut information
    */

    footer {
        padding: 100px 0 10px 0;
    }

    .content {
        padding-top: 1rem;

    }

    .content .author,
    .year {
        text-align: left !important;
        margin: 1.5rem 0;
    }


}

/* TABLET SMALL VERSION ONLY */

@media (max-width: 768px) {

    /*
    | -------------------------------------------------------------------
    | category section
    | -------------------------------------------------------------------
    |  note: category section have deferent layout in mobile & desktop
    |
    */

    .category__mobile {
        overflow: auto;
        white-space: nowrap;
        margin: 2rem 0;
    }

    ::-webkit-scrollbar {
        display: none;
    }


    .category__mobile .card-item {
        display: inline-block;
        padding: 0 0.5rem;
        text-align: center;
    }

    .category__mobile .card-item .card {
        padding: 1rem 2rem;
    }

    .category__mobile .card-item .card img {
        width: 100px;
    }

    .category__desktop {
        display: none;
    }

    /*
    | -------------------------------------------------------------------
    | Nabar section
    | -------------------------------------------------------------------
    |  note: navbar have tree menu item & one button for CTA
    |
    */

    .navbar a.btn {
        display: block;
    }

    .nav-link {
        margin-bottom: 13px;
    }

    a.nav-link {
        font-size: 14px;
    }

    /*
    | -------------------------------------------------------------------
    | banner section
    | -------------------------------------------------------------------
    |  note: banner for information website
    |
    */

    .bg-img {
        background: linear-gradient(98.46deg, #6638EB 0.39%, #9C38EB 69.44%);
    }

    /*
    | -------------------------------------------------------------------
    | 404 section page
    | -------------------------------------------------------------------
    |  note: if pages not be found
    */

    section.notfound__page {
        padding: 80px 0;
        color: var(--black-1);
    }

    section.notfound__page img {
        width: 200px;
    }


    section.notfound__page h2 {
        font-size: 30px;
    }

    section.notfound__page p {
        font-size: 14px;
        line-height: 13px;
    }



    /*
    | -------------------------------------------------------------------
    | footer section
    | -------------------------------------------------------------------
    |  note: footer section for sortcut information
    */

    footer {
        padding: 100px 0 10px 0;
    }

    .content {
        padding-top: 1rem;

    }

    .content .author,
    .year {
        text-align: left !important;
        margin: 1.5rem 0;
    }


}

/* TABLET MEDIUM & LARGE VERSION ONLY */

@media (max-width: 992px) {

    /*
    | -------------------------------------------------------------------
    | category section
    | -------------------------------------------------------------------
    |  note: category section have deferent layout in mobile & desktop
    |
    */

    .category__mobile {
        overflow: auto;
        white-space: nowrap;
        margin: 2rem 0;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .category__mobile a {
        color: black;
    }

    .category__mobile .card-item {
        display: inline-block;
        padding: 0 0.5rem;
        text-align: center;
    }

    .category__mobile .card-item .card {
        padding: 1rem 2rem;
    }

    .category__mobile .card-item .card img {
        width: 100px;
    }

    .category__desktop {
        display: none;
    }

    /*
    | -------------------------------------------------------------------
    | Nabar section
    | -------------------------------------------------------------------
    |  note: navbar have tree menu item & one button for CTA
    |
    */

    .navbar a.btn {
        display: block;
    }

    .nav-link {
        margin-bottom: 15px;
    }

    /*
    | -------------------------------------------------------------------
    | banner section
    | -------------------------------------------------------------------
    |  note: banner for information website
    |
    */

    .bg-img {
        background: linear-gradient(98.46deg, #6638EB 0.39%, #9C38EB 69.44%);
    }

    /*
    | -------------------------------------------------------------------
    | about section
    | -------------------------------------------------------------------
    |  note: short story about creative stock
    */

    /*
    | -------------------------------------------------------------------
    | 404 section page
    | -------------------------------------------------------------------
    |  note: if pages not be found
    */

    section.notfound__page {
        padding: 80px 0;
        color: var(--secondary);
    }

    section.notfound__page img {
        width: 200px;
    }


    section.notfound__page h2 {
        font-size: 30px;
    }

    section.notfound__page p {
        font-size: 14px;
        line-height: 13px;
    }

    /*
    | -------------------------------------------------------------------
    | about section pages
    | -------------------------------------------------------------------
    |  note: short story about creative stock
    */

    section.hero__about {
        padding: 0;
    }

    section.hero__about .text__hero {
        padding: 50px 0;
    }

    section.hero__about .text__big {
        font-size: 48px;
        color: var(--black-1);
        font-weight: 600;
        line-height: 64px;
    }

    section.hero__about .text__big span {
        font-weight: 900;
    }

    section.hero__about .story {
        padding: 100px 0;

    }

    section.hero__about .story .text__story {
        margin-left: 0;
        padding: 1rem 0;
    }


    section.hero__about .creator {

        text-align: center;
    }

    section.hero__about .creator .label__creator {
        margin: 5px 0;
    }



    /*
    | -------------------------------------------------------------------
    | footer section
    | -------------------------------------------------------------------
    |  note: footer section for sortcut information
    */

    footer {
        padding: 100px 0 10px 0;
    }

    .content {
        padding-top: 1rem;

    }

    .content .author,
    .year {
        text-align: left !important;
        margin: 1.5rem 0;
    }
}